<div class="Modal-backdrop"></div>
 <div class="Modal-holder"  autoscroll="true">
  <h2 class="labelcustom">Accounts</h2>
  <br>
  <br>
  <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
      <div class="form-account">
      <form name="form" ng-submit="vm.saveaccount()" role="form" class="form-horizontal">
<fieldset>

<div class="col-md-4">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="Account">Account</label>  
  <div class="col-md-4">
  <input id="Account" name="Account" placeholder="placeholder" class="form-control input-md" ng-model="vm.account.account_name" required="" type="text">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="organisationalUnit">Organisational Unit</label>
  <div class="col-md-4">
    <select name="organisationalUnit" id="organisationalUnit" class="form-control" ng-model="vm.account.organisational_unit_id">
              <option ng-repeat="option in data.availableOptions" ng-click="vm.getServices()" value="{{option.id}}">{{option.unit_name}}</option>
    </select>
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="accountStatus">Account Status</label>
  <div class="col-md-4">
    <select name="status" id="status" ng-model="vm.account.status" class="form-control">
              <option ng-repeat="option in data.availableStatusOptions" value="{{option.id}}">{{option.name}}</option>
          </select>
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="manager">Delivery Manager</label>
  <div class="col-md-4">
    <select name="manager" id="manager" ng-model="vm.account.resource_id" class="form-control">
              <option ng-repeat="option in data.availableManagerOptions" value="{{option.id}}">{{option.employee_name}}</option>
          </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="services">Services</label>
  <div class="col-md-4">
    <div ng-dropdown-multiselect="" events="serEvents" options="serdata" selected-model="sermodel" extra-settings="sersettings"></div>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="noOfResources">No Of Resources</label>  
  <div class="col-md-4">
  <input id="noOfResources" name="noOfResources" placeholder="placeholder" class="form-control input-md" type="text" ng-model="vm.account.resource_needed">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="requestType">Request Type</label>
  <div class="col-md-4">
    <select name="requestType" id="requestType" ng-model="vm.account.request_type" class="form-control">
              <option ng-repeat="option in data.availableReqTypes" value="{{option.id}}">{{option.name}}</option>
    </select>
  </div>
</div>
</div>
<div class="col-md-4">

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="region">Region</label>
  <div class="col-md-4">
    <select name="region" id="region" ng-model="vm.account.region" class="form-control">
              <option ng-repeat="option in data.availableRegionTypes" value="{{option.id}}">{{option.name}}</option>
    </select>
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="location">Location</label>  
  <div class="col-md-4">
  <input id="location" name="location" placeholder="placeholder" ng-model="vm.account.location"  class="form-control input-md"  type="text">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="contactType">Contact Type</label>
  <div class="col-md-4">
    <select name="contactType" id="contactType" ng-model="vm.account.contract_type" class="form-control">
              <option ng-repeat="option in data.availableContactType" value="{{option.id}}">{{option.name}}</option>
    </select>
  </div>
</div>
  
  

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="customerContact">Customer Contact</label>  
  <div class="col-md-4">
  <input id="customerContact" name="customerContact" placeholder="placeholder" ng-model="vm.account.customer_contact" class="form-control input-md"  type="text">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="salesPersonOthers">Sales Person Others</label>  
  <div class="col-md-4">
  <input id="salesPersonOthers" name="salesPersonOthers" placeholder="placeholder" ng-model="vm.account.other_persons" class="form-control input-md" type="text">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="salesEmail">Sales Email</label>  
  <div class="col-md-4">
  <input id="salesEmail" name="salesEmail"  ng-model="vm.account.other_sales_email" placeholder="placeholder" class="form-control input-md" type="text">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="sowStatus">SOW Status</label>
  <div class="col-md-4">
    <select name="sowStatus" id="sowStatus" ng-model="vm.account.sow_status" class="form-control">
              <option ng-repeat="option in data.availableSowStatus" value="{{option.id}}">{{option.name}}</option>
    </select>
  </div>
</div>
</div>
<div class="col-md-4">

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="comments">Comments</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="comments" ng-model="vm.account.comments"  name="comments">default text</textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="anticipatedValue">Anticipated Value</label>  
  <div class="col-md-4">
  <input id="anticipatedValue" name="anticipatedValue" placeholder="placeholder" ng-model="vm.account.anticipated_value" class="form-control input-md"  type="text">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="anticipatedValueCurrency">Anticipated Value Currency</label>
  <div class="col-md-4">
    <select name="anticipatedValueCurrency" id="anticipatedValueCurrency" ng-model="vm.account.anticipated_value_currency" class="form-control">
              <option ng-repeat="option in data.availableAnticipatedValueCurrency" value="{{option.id}}">{{option.name}}</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label labelcustom" for="username">Account Date Range Select</label>
  <div class="col-md-4">
                <uib-datepicker class="result_text"  ng-model='accountrange' multi-select='accountrangeDates' select-range='true' ng-click="reload()"></uib-datepicker>
              </div>
</div>




</div>
<div class="form-group">
  <div class="">
    <button id="submit" type="submit"  name="submit" class="btn btn-success">Submit</button>
    <button id="cancel" name="cancel" class="btn btn-danger">Cancel</button>
  </div>
</div>
</fieldset>
</form>
</div>
  </div>