  <!-- <div ng-include="'pages/navigation.html'"></div> -->
  <!-- <div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img src="..." /></div></div> -->
  
  <div class="jumbotron text-center">
    <button class="btn btn-primary" ui-sref="account.add" ng-click="addaccount()">Add Account</button>
          <!-- <button class="btn btn-primary" ng-show = "!IsVisible" ng-click="ShowHide()" ui-sref="account.add">+</button>
          <button class="btn btn-primary" ng-show = "IsVisible" ng-click="!ShowHide()">-</button> -->
          <br />
          <br />
      <div  ui-view="modal"></div>
      <!-- <div class="grid" ui-grid="vm.gridOptions"  ui-grid-selection ui-grid-exporter  ><div class="watermark" ng-show="!vm.gridOptions.data.length">No data available</div> 
      </div>-->
      <div ui-if="vm.gridOptions.data.length>0" class="grid" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-exporter ui-grid-auto-resize  ><div class="watermark" ng-show="!vm.gridOptions.data.length">No data available</div></div>
      <!-- <div ui-if="vm.gridOptions.data.length>0" class="grid" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ng-style="getTableHeight()" ><div class="watermark" ng-show="!vm.gridOptions.data.length">No data available</div></div> -->
        <div class="ui-grid-cell-contents">
  </div>
      </div>