<!-- <div ng-include="'pages/navigation.html'"></div> -->
<div class="jumbotron text-center">
  <button class="btn btn-primary"  ui-sref="services.add">Add Service</button>
        <!-- {{example13data}} -->
        <!-- <button class="btn btn-primary" ng-show = "!IsVisible" ng-click="ShowHide()" ui-sref="services.add">+</button>
        <button class="btn btn-primary" ng-show = "IsVisible" ng-click="!ShowHide()">-</button> -->
        <br />
        <br />
        <div  ui-view="modal"></div>
<div class="skill-grid" ui-grid="vm.gridOptions" ui-grid-edit></div>

</div>

