  <div ng-include="'pages/navigation.html'"></div>
  <div class="jumbotron text-center">
    <div>
      <div class="col-md-6">
        <label for="username">Account name</label>
      </div>
      <div class="col-md-6">
        <div ng-dropdown-multiselect="" events="accountEvents" options="accountdata" date-selected='dselect(date)' selected-model="accountmodel" extra-settings="accountsettings"></div>
      </div>
    </div>
    <div class="marleft" ng-show="showaccountdates">
      <div class="col-md-8"><h3>     Account Range Dates </h3>  </div>
      <div class="col-md-8">
        {{newMin | date:'MMM d, y'}} -- {{newMax | date:'MMM d, y'}}
      </div>
      <!--<button ng-click="changeAccountDates()">Change Dates</button>-->
    </div>
    
<div class="" ng-show="calmodel" >
  <button class="btn btn-primary" ng-show = "!IsVisible" ng-click="ShowHide()">+</button>
      <button class="btn btn-primary" ng-show = "IsVisible" ng-click="!ShowHide()">-</button>
      <div class="" ng-show="IsVisible" >
     
      <div class="calres" ng-show="calrangemodel" >
        <div class="col-md-6">
          <label for="username">Account Date Range Select</label>
        </div>
        <div class="col-md-6">
          <table>
            <tr>
              <td>
                <uib-datepicker class="result_text" ng-model='accountrange' multi-select='accountrangeDates' select-range='true' ng-click="reload()"></uib-datepicker>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <button ng-click="addAccountDates()">Add Dates</button>
    </div>
    </div>
    <div ng-show="calmodel">
      <div class="col-md-6">
          <label for="username">Select the Resources</label>
        </div>
        <div class="col-md-6">
          <div ng-dropdown-multiselect="" events="resourceEvents" options="example13data" selected-model="example13model" extra-settings="example13settings"></div>
        </div>
    </div>
    <div class="reshere" ng-show="showreshere">
      <div class="col-md-4">
          <label for="username">Add dates for Resource</label>
        </div>
        <div class="col-md-2">
          <div ng-dropdown-multiselect=""  events="yourEvents" options="example13model" selected-model="resmodel" extra-settings="ressettings"></div>
         </div> 
         <div class="col-md-6">
            <div ng-show="resource" >
              <div style='display:inline-block; vertical-align:top'>
                <div class='btn-group'>
                  <button class='btn btn-primary' ng-model='type' btn-radio='"individual"'>Individual</button>

                  <button class='btn btn-primary' ng-model='type' btn-radio='"range"'>Range</button>

                </div>
                <br />
                <my-customer></my-customer>
                <table>
                  <tr>
                    <td>
                      <uib-datepicker ng-model='activeDate' multi-select='selectedDates' select-range='{{type=="range"}}' date-disabled='disabled(date)' ></uib-datepicker>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
         </div>
            
            
    <button ng-click="add(resource,singleres,selectedDates)">Add</button>
    <button ng-click="saveproject()">Save</button>
  </div>
  {{accountrangeDates}}
  {{resmodel}}
<div class="marleft" ng-show="showreshere">
  <div class="col-md-4"><h3>     Names </h3>  </div>
    <div class="col-md-5"><h3>       Selected Dates   </h3></div>
</div>
<div id="wrapper" class="wrapper">
        <div id="inner-wrapper" class="inner-wrapper parent" ng-repeat="n in items">
      <div class="one-col">{{n.name}}</div>
      <div class="two-col"><table>
        <div ng-repeat="task in n.Dates">
              {{task | date:'MMM d, y'}}
        </div>
    </table></div>
      </div>
    </div>
    </div>
